__pycache__/
.ipynb_checkpoints/
.DS_Store
local_edit_logs/
*.aux
*.log
*.out
*.toc
*.nav
*.snm
*.fls
*.fdb_latexmk
text_coursework/final_report_work/*.bbl
text_coursework/final_report_work/*.blg
text_coursework/final_report_work/*.synctex.gz
text_coursework/final_report_work/*.xdv
*.pth
*.pt
*.ckpt
*.model
*.pb
data/raw/
checkpoints/
build/
